body {
	width: 340px;
	background-color: #1e8def;
    color: white;
    box-sizing: border-box;
    padding: 10px;
}

.popup {
	display: flex;
	height: 65px;
}

.info {
	margin-top: 25px;
	text-align: center;
	font-size: 0.8em;
}
.info a {
	color: #fff;
}

.gasprice {
	cursor: pointer;
	flex: 1;
	border-radius: 10px;
	border: 2px solid #eee;
	margin: 1%;
	padding: 4px 2px;
	height: 95%;
}

.gasprice-number {
	font-size: 1.5rem;
    display: inline-block;
    text-align: center;
    width: 100%;
}

.gasprice-label {
	font-size: 0.8rem;
    display: inline-block;
    text-align: center;
    width: 100%;
}

.gasprice-wait {
	font-size: 0.4rem;
	font-weight: 200;
    display: inline-block;
    text-align: center;
    width: 100%;
} 

.selected {
	background-color: #dc82ff;
	color: #fff;
}

/* OPTIONS PAGE */
.options {
	display: flex;
	width: 100%;
	height: 100%;
}

.options ul {
	list-style: none;
	padding: 0px;
	display: flex;
}
.options ul li {
	text-align: center;
	flex: 1;
	font-size: 1rem;
	padding: 6px 0px;
	margin: 2px;
	border: 1px solid #888;
	border-radius: 4px;
	cursor: pointer;
}

.options ul li.active {
	background-color: #3c8a3f;
	color: #fff;
	border: none;
	box-shadow: 0px 1px 2px #ccc;
}

.options ul li a {
	color: #444;
}

.options ul li.active a {
	color: #fff;
}

.options .settings-column,
.options .empty-column {
	flex: 1;
	box-sizing: border-box;
	padding: 0px 10px 4px 10px;

}

.options .settings-column {
	flex:1.5;
	background-color: #eee;
	border: 1px solid #fff;
	border-radius: 5px;
	color: #444;
}
